html {
	font-family: 'Tomorrow', sans-serif;
	background-color: rgb(219, 237, 255);
}

body{
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 100%;
}

h1 {
	text-align: center;
	font-family: verdana;
	color: rgb(0,0,0);
}

.title {
	margin-top: 3%;
}

.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 25%;
}

.section-header {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 7px;
	border-style: solid;
	border-width: 2px;
	line-height: 0px;
	color: rgb(219, 237, 255);
	background-color: black;
	border-radius: 10px;
}

.section-content {
	padding-left: 25px
}

p {
	line-height: 1.5;
	letter-spacing: 1.3px;
}

li {
	line-height: 2;
}

#profileimage{
	border-radius: 200px;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(0,0,0);
}

.navbar {
	overflow: hidden;
	background-color: rgb(249, 175, 129);
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
}

.navbarlink {
	display: inline-block;
	width: 12%;
	text-align: center;
	padding-top: 9px;
	font-size: 18px;
}

.navbar a {
	color: #000000;
	text-decoration: none;
	transition-duration: 1.5s;
}

.navbar a:hover {
	background-color: rgb(165,199,255);
}

.navbar a:hover {
	background-color: rgb(165,199,255);
}

.sociallink {
	padding-left: .1%;
	padding-right: .1%;
	margin-left: .3%;
	margin-right: .3%;
	width: 3%;
}

footer {
	float: right;
	font-size: 10px;
}